# Ambiente virtual
venv/
.venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Archivos de pruebas
.pytest_cache/

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Configuración del editor
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db